data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/celf_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/CFR_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/degree_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/GA_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/greedy_simulated_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/greedy_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/random_solution_dict_test.pkl
data/allocations/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/single_discount_solution_dict_test.pkl
data/simulated/Flickr_num_nodes500_T2O_1_NT2O_0.3_seed_1000.pkl
data/simulated/Flickr_num_nodes5000_T2O_1_NT2O_0.3_seed_1000.pkl
data/simulated/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000.pkl
data/simulated/full_sim_num_nodes5000_T2O_1_NT2O_0.3_seed_1000.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/10_common_selected_nodes.csv
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/10_common_selected_nodes.yaml
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/degree_distribution.pdf
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/Influence_spread.pdf
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/Legend.pdf
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/Liftup_curve.pdf
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/sum_PO.pdf
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_celf.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_CFR.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_degree.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_ga.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_greedy_simulated.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_greedy.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_random.pkl
figures/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/TTE_single_discount.pkl
models/Flickr_num_nodes5000_T2O_1_NT2O_0.3_seed_1000/NetEstimator_Flickr_num_nodes5000_T2O_1_NT2O_0.3_seed_1000.pth
models/Flickr_num_nodes500_T2O_1_NT2O_0.3_seed_1000/NetEstimator_Flickr_num_nodes500_T2O_1_NT2O_0.3_seed_1000.pth
models/full_sim_num_nodes5000_T2O_1_NT2O_0.3_seed_1000/CFR_full_sim_num_nodes5000_T2O_1_NT2O_0.3_seed_1000.pth
models/full_sim_num_nodes5000_T2O_1_NT2O_0.3_seed_1000/NetEstimator_full_sim_num_nodes5000_T2O_1_NT2O_0.3_seed_1000.pth
models/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/CFR_full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000.pth
models/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/NetEstimator_full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000.pth
Results/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/best_config_CFR.yaml
Results/full_sim_num_nodes500_T2O_1_NT2O_0.3_seed_1000/best_config_netest.yaml
